{% extends 'base.html' %}

{% block content %}
<h2>Detalles de {{ campista.nombre_completo }}</h2>
<ul>
    <li><strong>Correo Electrónico:</strong> {{ campista.correo_electronico }}</li>
    <li><strong>Teléfono:</strong> {{ campista.telefono }}</li>
    <li><strong>Dirección:</strong> {{ campista.direccion }}</li>
</ul>

<a href="{% url 'editar_campista' campista.pk %}" class="btn btn-warning">Editar</a>
<a href="{% url 'eliminar_campista' campista.pk %}" class="btn btn-danger">Eliminar</a>
<a href="{% url 'lista_campistas' %}" class="btn btn-secondary">Volver a la lista</a>
{% endblock %}
